<template name='my_entities'>
		<div class="container">
		{{> navbar}}

		{{> JumbotronTitle title="My Entities"}}

		{{> entitiesByUser}}
	</div>
</template>

<template name="entitiesByUser">
	{{#if ready}}
		{{#if Entities.count}}
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>
							Name
						</td>
						<td>
							Description
						</td>
						<td>
						</td>
					</tr>
				</thead>
				{{#each Entities}}
				<tbody>
					<tr>
						<td>
							{{name}}
						</td>
						<td>
							{{description}}
						</td>
						<td>
							<input type="button" class="btn btn-success use-entity" name="use-button" id="{{link}}" value="Use this entity"/>
							<input type="button" class="btn btn-danger delete-entity" name="delete-button" id="{{link}}" value="Delete"/>
						</td>
					</tr>
				</tbody>
				{{/each}}
			</table>
		{{/if}}
	{{else}}
	    {{> loading}}
	{{/if}}
</template>