<template name='my_entities'>
		<div class="container">
		{{> navbar}}

		{{> JumbotronTitle title="My Entities"}}

		{{> entitiesByUser}}
	</div>
</template>

<template name="entitiesByUser">

	{{#if Entities.length}}
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>
						Name
					</td>
					<td>
						Description
					</td>
					<td>
						Subscribed
					</td>
					<td>
						Actions
					</td>
					<td>
					</td>
				</tr>
			</thead>

			{{> EntitiesAssociatedTemplate}}

			{{> AdminEntitiesTemplate}}

			{{> EntitiesRequestedFromEntitiesTemplate}}

			{{> EntitiesRequestedFromUsersTemplate}}

		</table>
	{{/if}}
</template>

<template name="EntitiesAssociatedTemplate">
	{{#if ready}}
		{{#if EntitiesAssociated.length}}

				{{#each EntitiesAssociated}}
				<tbody>
					<tr>
						<td>
							{{name}}
						</td>
						<td>
							{{description}}
						</td>
						<td>
							Subscribed!
						</td>
						<td>
							<input type="button" class="btn btn-danger dissassociate" name="{{email}}" id="{{link}}" value="Dissassociate"/>
						</td>
						<td>
						</td>
					</tr>
				</tbody>
				{{/each}}
		{{/if}}
	{{else}}
	    {{> loading}}
	{{/if}}
</template>

<template name="AdminEntitiesTemplate">
	{{#if ready}}
		{{#if AdminEntities.length}}

				{{#each AdminEntities}}
				<tbody>
					<tr>
						<td>
							{{name}}
						</td>
						<td>
							{{description}}
						</td>
						<td>
							You have admin rights
						</td>
						<td>
							<input type="button" class="btn btn-success use-entity" name="use-button" id="{{link}}" value="Use this entity"/>
						</td>
						<td>
						</td>
					</tr>
				</tbody>
				{{/each}}
		{{/if}}
	{{else}}
	    {{> loading}}
	{{/if}}
</template>

<template name="EntitiesRequestedFromEntitiesTemplate">
	{{#if ready}}
		{{#if EntitiesRequestedFromEntities.length}}

				{{#each EntitiesRequestedFromEntities}}
				<tbody>
					<tr>
						<td>
							{{name}}
						</td>
						<td>
							{{description}}
						</td>
						<td>
							You have to approval the association
						</td>
						<td>
							<input type="button" class="btn btn-success associate-entity" name="{{email}}" id="{{link}}" value="Associate"/>
						</td>
						<td>
						</td>
					</tr>
				</tbody>
				{{/each}}

		{{/if}}
	{{else}}
	    {{> loading}}
	{{/if}}
</template>

<template name="EntitiesRequestedFromUsersTemplate">
	{{#if ready}}
		{{#if EntitiesRequestedFromUsers.length}}

				{{#each EntitiesRequestedFromUsers}}
				<tbody>
					<tr>
						<td>
							{{name}}
						</td>
						<td>
							{{description}}
						</td>
						<td>
							The Entity has to approve the association
						</td>
						<td>
							<input type="button" class="btn btn-danger cancel-association-entity" name="{{email}}" id="{{link}}" value="Cancel Association Request"/>
						</td>
						<td>
						</td>
					</tr>
				</tbody>
				{{/each}}

		{{/if}}
	{{else}}
	    {{> loading}}
	{{/if}}
</template>