<template name="my_spheres">
	<div class="container">
		{{> navbar}}

		{{> JumbotronTitle title="My Data Spheres"}}

		{{> spheresTable}}
	</div>
</template>

<template name="spheresTable">
	{{#if Spheres.length}}
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>
						Name
					</td>
					<td>
						Description
					</td>
					<td>
						Enabled
					</td>
					<td>
						Actions
					</td>
				</tr>
			</thead>
			{{#each Spheres}}
			<tbody>
				<tr>
					<td>
						{{name}}
					</td>
					<td>
						{{description}}
					</td>
					<td>
						<input type="checkbox" id="{{link}}" {{checkedObject}}>
					</td>
					<td>
						<input type="button" class="btn btn-success edit-sphere" id="{{link}}" value="Edit"/>
						<input type="button" class="btn btn-danger delete-sphere" name="delete-button" id="{{link}}" value="Delete"/>
					</td>
				</tr>
			</tbody>
			{{/each}}
		</table>
	{{/if}}
</template>