<template name="new_consumer">
	<div class="container">
		{{> navbar}}

		{{> JumbotronTitle title="Consumers"}}

		{{> consumersList}}

		{{> buttons}}
	</div>
</template>


<template name="consumersList">
	{{#if Consumers.length}}	
		<ul class="list-group">

			<li class="list-group-item">
				<input type="checkbox" name="select-all" id="select-all" /><strong>Select All</strong>
			</li>

			{{#each arrayDifference Consumers ConsumersByUser}}
				<li class="list-group-item">
					<div class="checkbox">
						<label><input type="checkbox" {{checkedConsumers}} name="consumer" id ="{{link}}" value="{{name}}">{{name}}</label>
					</div>
				</li>
			{{/each}}
		</ul>
	{{/if}}
</template>

<!-- <template name="consumersTable">
	{{#if Consumers.count}}
		<table class="table">
			<thead>
				<tr>
					<td>
						Consumers ID
					</td>
					<td>
						Name
					</td>
					<td>
						Description
					</td>
					<td>
						Disabled
					</td>
					<td>
						Actions
					</td>
				</tr>
			</thead>
			{{#each Spheres}}
			<tbody>
				<tr>
					<td>
						{{_id}}
					</td>
					<td>
						{{name}}
					</td>
					<td>
						{{description}}
					</td>
					<td>
						<input type="checkbox" {{checkedConsumers}}>
					</td>
					<td>
						<input type="button" class="btn btn-success" value="Edit"/>
						<input type="button" class="btn btn-danger" value="Delete"/>
					</td>
				</tr>
			</tbody>
			{{/each}}
		</table>
	{{/if}}
</template> -->