<template name="new_entity">
	<div class="container">
		{{> navbar}}

		{{> JumbotronTitle title="New Entity"}}
		<form class="form-horizontal form-top entity-form">
			{{> new_entity_form}}

			{{> buttons}}
		</form>
	</div>
</template>

<template name="new_entity_form">
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Name:</label>
				<div class="col-md-4">
					<input type="text" class="form-control" name="name">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">email:</label>
				<div class="col-md-4">
					<input type="text" class="form-control" name="email">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label class="col-md-2 control-label">Description: </label>
				<div class="col-md-4">
					<input type="text" class="form-control" name="description">
				</div>
			</div>
		</div>
</template>