<template name='people'>
		<div class="container">
		{{> navbar}}

		{{> JumbotronTitle title="People"}}

		{{> people_table}}
	</div>
</template>

<template name="people_table">
	{{> UsersAssociatedTemplate}}

	{{> AdminUsersTemplate}}

	{{> UsersRequestedFromEntitiesTemplate}}

	{{> UsersRequestedFromUsersTemplate}}
</template>

<template name="UsersAssociatedTemplate">
	{{#if ready}}
		{{#if UsersAssociated.length}}
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>
							Name
						</td>
						<td>
							Surname
						</td>
						<td>
							Subscribed
						</td>
						<td>
							Dissassociate
						</td>
						<td>
						</td>
					</tr>
				</thead>
				{{#each UsersAssociated}}
				<tbody>
					<tr>
						<td>
							{{name}}
						</td>
						<td>
							{{surname}}
						</td>
						<td>
							Subscribed!
						</td>
						<td>
							<input type="button" class="btn btn-danger dissassociate-user" name="{{email}}" id="{{link}}" value="Dissassociate this user"/>
						</td>
						<td>
						</td>
					</tr>
				</tbody>
				{{/each}}
			</table>
		{{/if}}
	{{else}}
	    {{> loading}}
	{{/if}}
</template>

<template name="AdminUsersTemplate">
	{{#if ready}}
		{{#if AdminUsers.length}}
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>
							Name
						</td>
						<td>
							Surname
						</td>
						<td>
							Subscribed
						</td>
						<td>
							
						</td>
					</tr>
				</thead>
				{{#each AdminUsers}}
				<tbody>
					<tr>
						<td>
							{{name}}
						</td>
						<td>
							{{surname}}
						</td>
						<td>
							Admin user!
						</td>
						<td>
						</td>
					</tr>
				</tbody>
				{{/each}}
			</table>
		{{/if}}
	{{else}}
	    {{> loading}}
	{{/if}}
</template>

<template name="UsersRequestedFromEntitiesTemplate">
	{{#if ready}}
		{{#if UsersRequestedFromEntities.length}}
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>
							Name
						</td>
						<td>
							Surname
						</td>
						<td>
							Subscribed
						</td>
						<td>
							Dissassociate
						</td>
						<td>
						</td>
					</tr>
				</thead>
				{{#each UsersRequestedFromEntities}}
				<tbody>
					<tr>
						<td>
							{{name}}
						</td>
						<td>
							{{surname}}
						</td>
						<td>
							The User has to approve the association
						</td>
						<td>
							<input type="button" class="btn btn-danger cancel-association-user" name="{{email}}" id="{{link}}" value="Cancel Association Request"/>
						</td>
						<td>
						</td>
					</tr>
				</tbody>
				{{/each}}
			</table>
		{{/if}}
	{{else}}
	    {{> loading}}
	{{/if}}
</template>

<template name="UsersRequestedFromUsersTemplate">
	{{#if ready}}
		{{#if UsersRequestedFromUsers.length}}
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<td>
							Name
						</td>
						<td>
							Surname
						</td>
						<td>
							Subscribed
						</td>
						<td>
							Dissassociate
						</td>
						<td>
						</td>
					</tr>
				</thead>
				{{#each UsersRequestedFromUsers}}
				<tbody>
					<tr>
						<td>
							{{name}}
						</td>
						<td>
							{{surname}}
						</td>
						<td>
							You have to Approve this user association...
						</td>
						<td>
							<input type="button" class="btn btn-success associate-user" name="{{email}}" id="{{link}}" value="Associate"/>
							<input type="button" class="btn btn-danger cancel-association-user" name="{{email}}" id="{{link}}" value="Cancel Association Request"/>
						</td>
						<td>
						</td>
					</tr>
				</tbody>
				{{/each}}
			</table>
		{{/if}}
	{{else}}
	    {{> loading}}
	{{/if}}
</template>