<template name="provider">
	<div class="container">
		<form class="form-horizontal">
			{{> navbar}}

<!-- 			{{> provider_basicinfo}}

			{{> provider_category}} -->

			{{> JumbotronTitle title="Providers"}}

			{{> providersList}}

			{{> buttons}}
		</form>
	</div>
</template>

<template name="providersList">
	{{#if Providers.length}}
		<ul class="list-group">

			<li class="list-group-item">
				<input type="checkbox" name="select-all" id="select-all" /><strong>Select All</strong>
			</li>

			{{#each Providers}}
				<li class="list-group-item">
					<div class="checkbox">
						<label><input type="checkbox" {{checkedProviders}} name="provider" id ="{{_links.provider.href}}" value="{{name}}">{{name}} </label>
					</div>
				</li>
			{{/each}}
		</ul>
	{{/if}}
</template>

<!-- <template name="provider_basicinfo">
	<div class="form-set">
		<div class="form-group">
			<label class="control-label col-md-2">Name: </label>
			<div class="col-md-5">
				<input class="form-control" type="text" name="name" value='{{name}}'>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Description: </label>
			<div class="col-md-5">
				<input class="form-control" type="text" name="description" value='{{description}}'>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">URL: </label>
			<div class="col-md-5">
				<input class="form-control" type="text" name="url" value='{{url}}'>
			</div>
		</div>
	</div>
</template>

<template name="provider_category">
	{{#each AttributesDefinition}}
		<div class="row">
			<div class="jumbotron">
				<h2>{{category}}</h2>
			</div>
		</div>
		{{> provider_subcategories}}

	{{/each}}
</template>

<template name="provider_subcategories">
	<div class="form-set">
		<div class="row">
			{{#each subcategories}}
			<div class="col-md-5">
				<h3>{{this}}</h3>
				{{> provider_attributes this}}
			</div>
			{{/each}}
		</div>
	</div>
</template>

<template name="provider_attributes">
	{{#each attributes}}
		<div class="checkbox">
			<label><input type="checkbox" {{checkedAttributeProvider}} name="attr" id="{{_id}}" value="{{name}}">{{name}}</label>
		</div>	
	{{/each}}
</template> -->