<template name="register">

  <head>

    <!-- /.website title -->
    <title>LMP - Life Management Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" />

  </head>

  <body>

    <script type="text/javascript">
      new WOW().init();
    </script>

    <div class="img-background" style="background-image:url('laptop-glasses-coffe-background.jpg'); background-attachment: fixed; background-size: 100%">

    <div class="container sign-in-container overlay">
    
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="LMP-logo-logomakr-center.png" alt="LMP Logo" width="450" height="150" class="img-responsive center-block register-img wow fadeInDown">
          <form method="post" class="form-horizontal form-header form-signin register">
            <h1 class="wow fadeInLeft text-center">
              Register Form
            </h1>
            <hr class="wow fadeInRight"/>

            <div class="form-group wow fadeInRight">
                <h3>First Name:</h3>
                <input class="form-control input-lg" name="firstName" type="text" required>
            </div>

            <div class="form-group wow fadeInLeft">
                <h3>Last Name:</h3>
                <input class="form-control input-lg" name="lastName" type="text" required>
            </div>

            <div class="form-group wow fadeInRight">
                <h3>Email:</h3>
                <input class="form-control input-lg" name="email" type="email" required>
            </div>

            <div class="form-group wow fadeInLeft">
                <h3>Phone Number:</h3>
                <input class="form-control input-lg" name="phone" type="text" required>
            </div>

            <div class="form-group wow fadeInRight">
                <h3>Personal Identification:</h3>
                <input class="form-control input-lg" name="personal_id" type="text" required>
            </div>

            <div class="form-group wow fadeInLeft">
                <h3>Password:</h3>
                <input class="form-control input-lg" name="password" type="password" required>
            </div>

            <div class="form-group wow fadeInRight">
                <h3>Repeat Password:</h3>
                <input class="form-control input-lg" name="password-confirm" type="password" required>
            </div>

            <div class="form-group last zero-margin-bottom wow fadeInLeft">
              <input type="submit" value="SIGN UP" class="btn btn-warning btn-block btn-lg">
            </div>
          </form>

          <h6><a href="{{pathFor route='login'}}">Back to Main Page</a></h6>

        </div>
      </div>

      </div>
    </div>

  </body>
</template>