<template name="navbar">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
      <div class="navbar-header">
  			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-to-collapse" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>
      </div>
			<div id="navbar-to-collapse" class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="{{pathFor route='home'}}" class="deco-none"><strong class="eurecat-color">Eurecat</strong></a>
          </li>
        </ul>
				<ul class="nav navbar-nav navbar-padding breadcrumb">
					{{> customBreadcrumb}}
				</ul>
				<ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" class="deco-none"><strong>Welcome {{firstName}}</strong></a>
          </li>
        	<li>
        		<a href="#" class="logout deco-none"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a>
        	</li>
				</ul>
			</div>
		</div>
	</nav>	
</template>

<template name="customBreadcrumb">
  <ol class="breadcrumb">
    {{#each Breadcrumb}}
        <li class="{{isActivePath url}}">
        {{#if isActivePath url}}
            {{title}}
        {{else}}
            <a href="{{url}}">{{title}}</a>
        {{/if}}
        </li>
    {{/each}}
  </ol>
</template>

<template name="logo1">
	<img src="/eurecat3.gif" alt="Eurecat logo" width="250" class="img-responsive center-block">
</template>

<template name="JumbotronTitle">
  <div class="jumbotron">
    <h1>{{title}}</h1>
      {{#unless compare title "Providers"}}
        {{#unless compare title "Consumers"}}
          {{#unless compare title "My Profile"}}
            {{#unless compare title "New Entity"}}
              {{#unless compare title "Entity Profile"}}
                <input type='button' class="btn btn-primary" value="Add New &gt;&gt;" id="newObject" />
              {{/unless}}
            {{/unless}}
          {{/unless}}
        {{/unless}}
      {{/unless}}
  </div>
</template>


<template name="buttons">
  <div class="form-set">
    <div class="row">
      <div class="col-md-2 col-md-offset-3">
        <input type="submit" class="btn btn-success save-changes" value="Save changes" />
      </div>
      <div class="col-md-5">
        <input type="button" class="btn btn-danger cancel" value="Cancel" />
      </div>
    </div>
  </div>
</template>


<template name="loading">
  <h3>Loading page...</h3>
</template>

<template name="loader">
  <svg class="loader" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
  <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
    <animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="0 25 25"
      to="360 25 25"
      dur="0.6s"
      repeatCount="indefinite"/>
    </path>
  </svg>
</template>