/* CSS declarations go here */
.thumbnail img{
    height: 175px;
}

.thumbnail{
    width: 300px;
    height: 275px;
    border: none;

}

.thumbnail h3{
	height: 100px;
	font-weight: bold;
}

a.deco-none{
	color: inherit;
    text-decoration:none;
}

.breadcrumb{
	margin-bottom: 0px;
    padding: 6px 15px;
}

.navbar-padding{
	padding-top: 7px;
    padding-left: 20px;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #A9A4A4;
    content: ">";
}

.form-set{
  margin-bottom: 50px;
}

.select-box-buttons{
	padding-top: 33px;
}

.jumbotron {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 0px;
}

.list-group-item{
	padding-left: 30px;
}

.jumbotron input {
    margin-top: 20px;
}

.eurecat-color{
    color: #8f24da;
}

input.error{
    background-color:rgb(255, 231, 231);
}